@font-face {
    font-family: 'DejaVu';
    src:
    url(https://raw.githubusercontent.com/Tumultur/fonts/main/DejaVu/DejaVuSans.woff) format('woff'),
    url(https://raw.githubusercontent.com/Tumultur/fonts/main/DejaVu/DejaVuSans.woff2) format('woff2');
}
@font-face {
    font-family: 'DejaVu';
    font-weight: bold;
    src:
    url(https://raw.githubusercontent.com/Tumultur/fonts/main/DejaVu/DejaVuSans-Bold.woff) format('woff'),
    url(https://raw.githubusercontent.com/Tumultur/fonts/main/DejaVu/DejaVuSans-Bold.woff2) format('woff2');
}
@font-face {
    font-family: 'DejaVu';
    src:
    url(https://raw.githubusercontent.com/Tumultur/fonts/main/DejaVu/DejaVuSans-Oblique.woff) format('woff'),
    url(https://raw.githubusercontent.com/Tumultur/fonts/main/DejaVu/DejaVuSans-Oblique.woff2) format('woff2');
}
@font-face {
    font-family: 'DejaVu';
    font-weight: bold;
    src:
    url(https://raw.githubusercontent.com/Tumultur/fonts/main/DejaVu/DejaVuSans-BoldOblique.woff) format('woff'),
    url(https://raw.githubusercontent.com/Tumultur/fonts/main/DejaVu/DejaVuSans-BoldOblique.woff2) format('woff2');
}